// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'modals';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.df {
    display: flex;
}

.dn {
    display: none;
}

.tc {
    text-align: center;
}

.btn.disabled {
    cursor: default;
}

.loading-block {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;

    &:before {
        content: "";
        height: 30px;
        width: 30px;
        display: block;
        background: url(/img/loader.gif) 0 0 no-repeat;
        background-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

}


body {
    background: #ffffff;
    color: #000;

    .main-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 470px;
        height: 200px;
        background: #ffffff;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #e7e7e7;

        a {
            background-color: #3490dc;
            display: inline-block;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid #3490dc;
            width: 212px;
            padding: 0.375rem 0.75rem;
            font-size: 0.9rem;
            line-height: 1.6;
            border-radius: 0.25rem;

        }

        h1 {
            margin-bottom: 50px;
        }

    }

    .section-title {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .my-friends-block-inner,
    .users-search__search-result,
    .my-friends-block {
        position: relative;
        min-height: 100px;

        .users-list {

            &__name {
                font-size: 16px;
                line-height: 37px;
            }

            &__item {
                padding: 10px 0;
            }

            &__item:not(:last-child) {
                border-bottom: 1px solid $bdColor1;
            }

        }
    }

    .notification-block {
        position: relative;

        .notification-list__text {
            display: block;
            max-width: 230px;
        }

        .approve-friend-btn,
        .reject-friend-btn {
            margin-left: 15px;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }

            i {
                font-size: 22px;
            }
        }

        .approve-friend-btn i {
            color: $successColor;
        }

        .reject-friend-btn i {
            color: $errorColor;
        }

        &__inner {
            position: absolute;
            top: 35px;
            right: 20px;
            width: 380px;
            background: #ffffff;
            border: 1px solid #e6e6e6;
            padding: 20px;
            box-sizing: border-box;
            z-index: 999;
        }

        .notification-indicator {
            height: 8px;
            width: 8px;
            display: block;
            border-radius: 50%;
            background: $red;
            position: absolute;
            top: 3px;
            right: 20px;
            transition: opacity .3s ease;
        }

        .notification-icon {
            line-height: 40px;
            display: flex;
            height: 35px;
            width: 35px;
            cursor: pointer;
            margin-right: 20px;
            align-items: center;
            justify-content: center;

            i {
                font-size: 18px;
            }

            &:hover {
                i {
                    color: rgba(#000000, .7);
                }
            }
        }
    }

}
