.modal {
    &__status-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        i {
            font-size: 50px;
        }
    }
    &__status-icon-box--success {
        i {
            color: $successColor;
        }
    }

    &__status-icon-box--error {
        i {
            color: $errorColor;
        }
    }

}
